.App {
  display: flex;
  align-items: center;
}

#drum-machine {
  background-color: blanchedalmond;
  margin: 0 auto;
  padding: 50px 100px;
}

#display {
  background-color: #fff;
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.drum-pad-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #333;
}